.img{
    width: 45%;
    height: 75%;
}

.pull-left{
// height: 112px;
//    width:112px;
//    margin: auto;
//  width: 30%;
//  height: 75%;   
margin: auto;
position: absolute;
max-width: 100%;
max-height: 100%;
}